LOGZIO_TOKEN=SEU_TOKEN_LOGZIO
LOGZIO_LISTENER_HOST=listener.logz.io
LOGZIO_LISTENER_PORT=8071
HONEYPOT_ENV=lab
OPENCANARY_DEVICE_NODE_ID=agents-ia-honeypot
OPENCANARY_HTTP_BANNER=Apache/2.4.7 (Ubuntu)
OPENCANARY_SSH_BANNER=SSH-2.0-OpenSSH_7.2p2 Ubuntu-4ubuntu2.10
AI_DECOY_NODE_ID=agents-ia-honeypot-ai-decoy
